__pycache__/AdaCameraWrapper.cpython-311.pyc
__pycache__/AdaFruitWrapper.cpython-311.pyc
__pycache__/AdaSensorWrapper.cpython-311.pyc
__pycache__/DropboxWrapper.cpython-311.pyc
__pycache__/LEDWrapper.cpython-311.pyc
__pycache__/MotorWrapper.cpython-311.pyc
image.jpg
